html,body {
  height: 100%;
}
body {
  background: #420909;
  background: radial-gradient(circle,  #420909  0%, #000000 50%);
  background-size: 100%;
}
p {
  margin: 0;
  padding: 0;
}
#clock {
  font-family: monospace;
  color: aliceblue;
  text-align: center;
  margin: auto;
  color: aliceblue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .time {
      letter-spacing: 0.05rem;
      font-size: 6rem;
      padding: 0.5rem 0;
  }
  .date {
      letter-spacing: 0.1rem;
      font-size: 2rem;
  }
  .text {
      letter-spacing: 0.1rem;
      font-size: 1rem;
      padding: 1.3rem 0 0;
  }
}