doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/assets/css/style.css')
    title Vue Clock
  body
    #clock
      p.date {{ date }}
      p.time {{ time }}
      p.text My Vue.js App
    script(src='./app.vue')